<!DOCTYPE html>
<html>

<head>
<title></title>
<meta charset="utf-8" />
<script src="http://localhost:3000/js/jquery-1.11.3.min.js"></script>
<script src="http://localhost:3000/js/Chart.js"></script>
<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/style.css">

<style>

</style>

<script type="text/javascript">

    var graphFromRight = -100;

    $(document).ready(function() {
        console.log("JQUERY READY");
        var w = $(window).width();
        var h = $(window).height();
        var r = w / 1894;
        console.log(r);
        $('#place').css("transform", "scale(" + r + "," + r + ")");
        $('#place').css("margin-right", graphFromRight + "px");
        //please change the position of the nodes here, the -50px 0 0 -100 means : up, right, bottom left respectively
        $('#nodes').css("margin", "-50px 0 0 -100px");
        //please change the position of the path here, the -50px 0 0 -100 means : up, right, bottom left respectively
        $('.circle').css("margin", "30px 0 0 -180px");
    });

    function callFunction(){
    	var url = window.location.href ;
    	if(url.indexOf("call") == -1)
    		{
    		if(url.indexOf("fileLoader") == -1)
    		window.location.href = url + "?call=1";
    		else
			window.location.href = url + "&call=1";    			
    		}
    	else
    		window.location.href = url;
    }
</script>
</head>

<body>
<div id="master">
    <div id="logos">
        <div id="logoMLAB"></div>
        <div id="logoUPenn"></div>
    </div>

    <div id="myHeader">
        <h2 id="title">Heart Simulator</h2>
        <div id="fileSelect">
            <select id="filenames" onchange="updateGraph();">
                {{#each fileList}}
                <option value="{{filename}}"> <a href="/graph/{{filename}}">{{senario}}</a></option>
                {{/each}}
            </select>
        </div>
    </div>
    <div id="heartVisualize">
        <svg id="nodes" height="600" width="100%">
            <line id="line1" x1="525" y1="225" x2="525" y2="325" class="line" />
            <!-- Path1: Node1-Node2-->
            <line id="line2" x1="525" y1="325" x2="475" y2="425" class="line" />
            <!-- Path2: Node2-Node4-->
            <line id="line3" x1="475" y1="425" x2="425" y2="525" class="line" />
            <!-- Path3: Node4-Node3-->
            <line id="line4" x1="525" y1="225" x2="625" y2="145" class="line"  stroke-width="5" stroke-linecap="round" stroke-dasharray="1, 8"/>
            <!-- Path4: Node1-Node5-->
            <line id="line5" x1="525" y1="225" x2="625" y2="225" class="line"  stroke-width="5" stroke-linecap="round" stroke-dasharray="1, 8" />
            <!-- Path5: Node1-Node6-->
            <line id="line6" x1="525" y1="225" x2="625" y2="305" class="line"  stroke-width="5" stroke-linecap="round" stroke-dasharray="1, 8"/>
            <!-- Path6: Node1-Node7-->
            <line id="line7" x1="425" y1="525" x2="325" y2="445" class="line"  stroke-width="5" stroke-linecap="round" stroke-dasharray="1, 8"/>
            <!-- Path7: Node3-Node8-->
            <line id="line8" x1="425" y1="525" x2="325" y2="525" class="line"  stroke-width="5" stroke-linecap="round" stroke-dasharray="1, 8" />
            <!-- Path8: Node3-Node9-->
            <line id="line9" x1="425" y1="525" x2="325" y2="605" class="line"  stroke-width="5" stroke-linecap="round" stroke-dasharray="1, 8"/>
            <!-- Path9: Node3-Node10-->
            <line id="line10" x1="425" y1="525" x2="625" y2="525" class="line" />
            <!-- Path10: Node3-Node11-->
            <line id="line11" x1="625" y1="525" x2="525" y2="325" class="line" />
            <!-- Path11: Node11-Node2-->
        </svg>
        <div id="circle1" class="circle" align="center">1</div>
        <div id="circle2" class="circle" align="center">2</div>
        <div id="circle3" class="circle" align="center">3</div>
        <div id="circle4" class="circle" align="center">4</div>
        <div id="circle5" class="circle" align="center">5</div>
        <div id="circle6" class="circle" align="center">6</div>
        <div id="circle7" class="circle" align="center">7</div>
        <div id="circle8" class="circle" align="center">8</div>
        <div id="circle9" class="circle" align="center">9</div>
        <div id="circle10" class="circle" align="center">10</div>
        <div id="circle11" class="circle" align="center">11</div>
    </div>
    <div id="place">
        <div id="subtitle">EGM Readings </div>
        <br>
        <br>
        <div class="graphDivs" id="graphDiv1" style="width:370px; height:200px;"></div>
        <div class="graphDivs" id="graphDiv2" style="width:370px; height:200px;"></div>
        <div class="graphDivs" id="graphDiv3" style="width:370px; height:200px;"></div>
    </div>
    <div id="heartExplain">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>Please put some explanation or text here to explain the meaning of graphs and nodes!!!sapien purus convallis dolor, in accumsan ex purus ut magna. Nam nec sagittis orci. Maecenas tortor orci, lobortis a accumsan non, gravida vitae quam. Aenean ornare porttitor nibh a feugiat. Nullam mollis congue commodo.</td>
                <td><a href="javascript:void(0);" onclick="callFunction();"><img src="http://localhost:3000/images/heart.png"></a></td>
            </tr>
        </table>
    </div>
    <div id="sysmessage">
    </div>

    <div class="controls">
        <input class="bt" type="button" value="Play" onclick="play();">
        <input class="bt" type="button" value="Pause" onclick="pause();">
        <input class="bt" type="button" value="Rewind" onclick="rewind();">
        <input class="bt" type="button" value="Faster" onclick="ff();">
        <input class="bt" type="button" value="Slower" onclick="pp();">
        <input class="bt" type="button" value="Reset Speed" onclick="rs();">
    </div>
</div>
</body>

<script language="javascript">
var _data = '{{CSV}}';
var _pathdata = '{{PATH}}';
var _nodedata = '{{NODE}}';
var gtimeBegin = 0;
var gEnd = 3000;
var gAnimLength = gEnd;
var gtimeline = 0;
var gAnimSpeed = 30;
var isPlaying = false;
//var data2 = parseData(_data);
var originalDataV1 = parseData(_data, 0);
var originalDataV2 = parseData(_data, 1);
var originalDataV3 = parseData(_data, 2);
var graphData = getCurrentTimelineData(originalDataV1, gtimeBegin, gAnimLength);
var graphDataV2 = getCurrentTimelineData(originalDataV2, gtimeBegin, gAnimLength);
var graphDataV3 = getCurrentTimelineData(originalDataV3, gtimeBegin, gAnimLength);
var data = [];
var nodeData = parseNPData(_nodedata);
var pathData = parseNPData(_pathdata);
//drawNode(100,nodeData);


var g = new Dygraph(document.getElementById("graphDiv1"), graphData, {
    drawPoints: false,
    showRoller: true,
    legend: 'always',
    valueRange: [-1.5, 1.5],
    labels: ['Time', 'Val1']
});



var g2 = new Dygraph(document.getElementById("graphDiv2"), graphDataV2, {
    drawPoints: false,
    showRoller: true,
    legend: 'always',
    colors: ["rgb(255,153,51)"],
    valueRange: [-1.5, 1.5],
    labels: ['Time', 'Val2']
});

var g3 = new Dygraph(document.getElementById("graphDiv3"), graphDataV3, {
    drawPoints: false,
    showRoller: true,
    legend: 'always',
    colors: ["rgb(0,153,204)"],
    valueRange: [-1.5, 1.5],
    labels: ['Time', 'Val3']
});



function drawNode(index, data) {
    //console.log(data);
    var innerLen = data[0].length;
    index = index > data.length ? data.length - 1 : index;
    for (var i = 0; i < innerLen; i++) {
        //console.log(data[index][i]);
        switch (data[index][i]) {

            case 1:

                $('#circle' + (i + 1)).css('background-color', 'green');
                break;

            case 2:
                $('#circle' + (i + 1)).css('background-color', 'red');
                break;

            default:
                break;

        }

    }
}

function drawPath(index, data) {
    var innerLen = data[0].length;
    index = index > data.length ? data.length - 1 : index;
    for (var i = 0; i < innerLen; i++) {
        //console.log(data[index][i]);
        switch (data[index][i]) {

            case 1:

                $('#line' + (i + 1)).css('stroke', 'blue');
                break;

            case 2:
                $('#line' + (i + 1)).css('stroke', 'green');
                break;
            case 3:
                $('#line' + (i + 1)).css('stroke', 'yellow');
                break;
            case 4:
                $('#line' + (i + 1)).css('stroke', 'red');
                break;

            default:
                break;

        }

    }
}



function parseNPData(d) {

    var tmp = d.split(";");
    var len = tmp.length;
    var re = []
    for (var i = 0; i < len; i++) {
        re[i] = tmp[i].split(",");
        for (var j = 0; j < re[i].length; j++) {
            re[i][j] = parseInt(re[i][j]);
        }
    }
    re.pop();

    return re;

}

function updateGraph() {
    var e = document.getElementById("filenames");
    var fl = e.options[e.selectedIndex].value;
    console.log(fl);
    window.location.href = "http://localhost:3000/graph/EGM1-1-1?fileLoader=" + fl;
}

function parseData(d, index) {

    var tmp = d.split(";");
    var dataIndex = 1;
    var len = tmp.length;
    var re = []
    var _tmp = [];
    for (var i = 0; i < len; i++) {
        re[i] = [];
        _tmp[i] = tmp[i].split(",");
        re[i][0] = i;
        for (var j = 0; j < _tmp[i].length; j++) {
            if (index == j) {
                re[i][dataIndex] = parseFloat(_tmp[i][j]);
                //dataIndex++ for future multiple culoum reference
            }
        }
    }
    re.pop();
    return re;
}

window.intervalId = setInterval(function() {
    if (isPlaying) {
        g.updateOptions({
            'file': animate("V1")
        });
        g2.updateOptions({
            'file': animate("V2")
        });
        g3.updateOptions({
            'file': animate("V3")
        });
        drawPath(gtimeline, pathData);
        drawNode(gtimeline, nodeData);
        gtimeline += 33;
        if (gtimeline >= (pathData.length - 35))
            gtimeline = pathData.length - 36;

        console.log(gtimeline);
    }
}, 30);


function animate(chart) {
    gtimeBegin += gAnimSpeed;
    gAnimLength += gAnimSpeed;
    if (gAnimLength > originalDataV1.length) {
        gtimeBegin -= gAnimSpeed;
        gAnimLength -= gAnimSpeed;
        document.getElementById('sysmessage').innerHTML = "End of File";
    }
    switch (chart) {
        case "V1":
            return getCurrentTimelineData(originalDataV1, gtimeBegin, gAnimLength);
            break;

        case "V2":
            return getCurrentTimelineData(originalDataV2, gtimeBegin, gAnimLength);
            break;

        case "V3":
            return getCurrentTimelineData(originalDataV3, gtimeBegin, gAnimLength);
            break;

        default:
            break;
    }
}

function getCurrentTimelineData(data, begin, end) {
    var cloneArray = data.slice();
    var tmp = cloneArray.splice(begin, (end - begin));
    return tmp;
}

function pause() {
    isPlaying = false;
}

function play() {
    isPlaying = true;
}

function rewind() {
    gtimeBegin = 0;
    gAnimLength = gEnd;
    document.getElementById("sysmessage").innerHTML = "";
}

function ff() {
    gAnimSpeed += 3;
}

function pp() {
    gAnimSpeed -= 3;
    if (gAnimSpeed <= 0)
        gAnimSpeed = 1;
}

function rs() {
    gAnimSpeed = 1;
}
</script>

</html>